BOT_TOKEN=
OPENAI_API_KEY=

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/telegram_chinese_bot
REDIS_URL=redis://localhost:6379/0

ADMIN_IDS=7965751363
BOT_USERNAME=
MINI_APP_BASE_URL=https://telegram-chinese-bot-production.up.railway.app/course-v3.html

DEFAULT_LANGUAGE=tj
LOG_LEVEL=INFO
